* {
	margin: 0;
	padding: 0;
	border: 0;
}

.container {
	overflow: hidden;
	position: relative;
	margin: 0 auto;
	white-space: nowrap;
	width: 300px;
}

	.container * {
		width: 200px;
		height: 200px;
		background: #ff0000;
		display: inline-block;
	}
